
# Ambientes virtuais
.venv/
env/
venv/ambiente.env
ambiente/
ambiente_bkp/
*.env

api/
api/gmail/
resposta_audio
resposta_audio/
biblioteca_geral/bkp
biblioteca_geral/bkp 2
biblioteca_geral/bkp 3 - COMPRAS
biblioteca_geral/bkp x
biblioteca_geral/*.*
chroma_db
manuais/*.*
temp_rag_uploads/*.*
protheus_custom/*.*

# Pastas de dados do Grimória
biblioteca_geral/
biblioteca_geral
temp/
temp
# Arquivos gerados pelo script gerenciado do ChromaDB
start_chroma_server.bat
chroma_server.log

# Arquivos de cache e logs (gerais de Python)
__pycache__/
__pycache__
*.pyc
*.log
*.sqlite3
# Pasta com meus arquivos de teste
meus_documentos_de_teste/
meus_documentos_de_teste

# Pasta onde está o banco de dados
base_de_dados/
base_de_dados
banco_de_dados/
banco_de_dados

# Pasta de BKP de Scripts
bkp_scripts/
bkp_scripts

# Arquivos de teste
prompt_completo.txt
api_testes.py
app.py